ion-slides {
    height: 90%;
  }


  .my-label{
    font-size: 76%;
  }

  ion-input{ 
    .text-input{ text-align: center; }
}

.formScroll{
  align-content: center;
  height:400px;
  overflow-y:scroll;
  overflow-x:hidden;

}