<ion-header>
</ion-header>

<ion-content>
  <div>
    <ion-card class="welcome-card">
      <img
        src="https://c8.alamy.com/compes/py699d/los-trabajadores-industriales-hablando-en-el-campamento-diseno-ilustracion-vectorial-py699d.jpg"
        alt="" />
      
      <ion-card-content>
          
        <ion-button [routerLink]="['publish-job', 'empleo']" color="success" expand="block">Crear Oficio <ion-icon
            name="create"></ion-icon>
        </ion-button>
        <br>
        <ion-card-title>Oficios Creados</ion-card-title>
        <ion-item-divider></ion-item-divider>
        <app-publicated-job></app-publicated-job>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>