<ion-header>
</ion-header>

<ion-content>

  <div>
    <ion-card class="welcome-card">
      <img
        src="https://c8.alamy.com/compes/py699d/los-trabajadores-industriales-hablando-en-el-campamento-diseno-ilustracion-vectorial-py699d.jpg"
        alt="" />
      <ion-button [routerLink]="['publish-job', 'empleo']" color="success" expand="block">Crear Oficio <ion-icon
          name="create"></ion-icon>
      </ion-button>
      <ion-card-content>
        <ion-fab vertical="bottom" vertical="end" horizontal="end" slot="fixed">
          <ion-fab-button size="small" color="ligth" (click)="ngOnInit()">
            <ion-icon name="sync"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <br>
        <ion-card-title>Oficios Creados</ion-card-title>
        <ion-item-divider></ion-item-divider>
        <ion-list>
          <ion-item *ngFor="let empleo of empleos">
            <ion-label><b>{{ empleo.descripcion | uppercase}}</b></ion-label>
            <ion-fab-button (click)="deletePropuesta(empleo.idPropuesta)" size="small" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
            <div *ngIf="empleo.estado == 1; ">
              <ion-toggle checked (click)="cambiarEstadoPropuesta(empleo.idPropuesta,2)" slot="end"></ion-toggle>
            </div>
            <div *ngIf="empleo.estado == 2; ">
              <ion-toggle unchecked (click)="cambiarEstadoPropuesta(empleo.idPropuesta,1)" slot="end"></ion-toggle>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>