
<ion-content>
  <ion-fab vertical="bottom" vertical="end" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="ligth" >
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-fab-button>
  </ion-fab>
  <ion-list class="Scroll">
    <ion-list-header>
      Ultimos mensajes
    </ion-list-header>
    <ion-item style="width: 85%; border-radius: 15px; margin-top: 0.5%;" color="dark">
      <ion-text>Fragmento de un escrito con unidad temática, que queda diferenciado del resto de fragmentos por un punto
        y aparte y generalmente también por llevar letra mayúscula inicial y un espacio en blanco en el margen izquierdo
        de alineación del texto principal de la primera línea.
      </ion-text>
    </ion-item>

    <ion-item style="width: 85%; border-radius: 15px; margin-left: 15%; margin-top: 0.5%;" color="light">
      <ion-text>Hola Margot me gusto tu servicio dedes</ion-text>
    </ion-item>
    
    
  </ion-list>
  
  <ion-toolbar color="primary">
    <ion-item>

      <ion-textarea placeholder="Envia un mensaje...">
      </ion-textarea>
      <ion-fab-button size="small" color="success">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-item>
   
  </ion-toolbar>
</ion-content>