
<ion-content >
  <ion-fab vertical="bottom" vertical="end" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="ligth" >
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-fab-button>
  </ion-fab>
    <br>
  <ion-card-title>Oferta y ultimos mensajes</ion-card-title>
  <br>
  <ion-list *ngFor="let comentario of comentarios">
    <ion-item *ngIf="comentario.recibeEnvia == 2" style="width: 85%; border-radius: 15px; margin-top: 0.5%; font-size: 85%;" color="dark">
      <ion-text>
        {{comentario.contenido}}
        <p style="font-size: 80%; color: gray;">{{comentario.fechaHora | date: 'medium' }}</p>
      </ion-text>
      
    </ion-item>


    <ion-item *ngIf="comentario.recibeEnvia == 1" style="width: 85%; border-radius: 15px; margin-left: 15%; margin-top: 0.5%; font-size: 85%;" color="success">
      <ion-text >
        {{ comentario.contenido }}
        <p style="font-size: 80%; color: gray;">{{comentario.fechaHora | date: 'medium' }}</p>
      </ion-text>
      
    </ion-item>
  </ion-list>
  
  
</ion-content>
<ion-toolbar style="width: 100%;" color="primary">
  <ion-item>
    <form class="formScroll" [formGroup]=comentarioForm
    (ngSubmit)="enviarComentario(comentarioForm.value)">
    <ion-item>
      <ion-textarea cols="100" placeholder="Envia un mensaje..." required name="contenido" class="form-control "
      formControlName="contenido"  type="time">
      </ion-textarea>
      <ion-button  type="submit" [disabled]="comentarioForm.invalid" color="success">
          <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-item>

    </form>
  </ion-item>
</ion-toolbar>