
<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label color="primary">Conoce tu oferta</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      <p style="background-color: honeydew;">Esta es la propuesta que te hace Nombre, esperamos que la aceptes.</p>
      <ion-list class="Scroll">
        <ion-list-header>
          Ultimos Mensajes
        </ion-list-header>
        
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
        <ion-item color="medium">
          <ion-text>Hola Margot me gusto tu servicio ias puedes</ion-text>
          <ion-avatar slot="start">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>

        <ion-item color="light"  >
          <ion-text slot="end">Hola Margot me gusto tu servicio dedes</ion-text>
          <ion-avatar slot="end">
            <img
              src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-textarea placeholder="Envia un mensaje..."  >
        </ion-textarea>
        <ion-fab-button size="small" color="success">
          <ion-icon name="send"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-card-content>

  </ion-card>
</ion-content>