<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Ofertas Recibidas:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Ofertas Recibidas...  </ion-list-header>
    <div color="light">
      <ion-item  style="border-radius: 12px;" *ngFor="let ofertaPropuesta of ofertaPropuestas"  >
        <ion-avatar slot="start">
          <img src="{{ofertaPropuesta.propuesta.usuarioCreo.foto}}" />
        </ion-avatar>
        <ion-label>
          <h2>{{ofertaPropuesta.propuesta.usuarioCreo.nombres +' ' +ofertaPropuesta.propuesta.usuarioCreo.apellidos | uppercase }}  <p style="font-size: 60%; color: gray;">{{ofertaPropuesta.fechaAplicacion | date: 'medium' }}</p> </h2>
          <b>{{ofertaPropuesta.propuesta.descripcion}}</b>
          <p>Revisala...</p>
        </ion-label>
        <ion-button size="medium" [routerLink]="['chek-offer', ofertaPropuesta.oferta.idOferta, ofertaPropuesta.propuesta.idPropuesta, 3]"><ion-icon name="chatbubbles"></ion-icon></ion-button>
        <ion-button color="success" size="medium" [routerLink]="['chek-offer', ofertaPropuesta.oferta.idOferta, ofertaPropuesta.propuesta.idPropuesta, 3]"><ion-icon name="card"></ion-icon></ion-button>
      </ion-item>
    </div>
    </ion-list>
</ion-content>
