<ion-header>
  <ion-toolbar>
    <form [formGroup]=registerForm (ngSubmit)="registrarUser(registerForm.value)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col size size-md="6">
            <ion-item>
              <ion-label color="primary" position="stacked" class="ion-text-center">Nombres</ion-label>
              <ion-input name="nombres" placeholder="Mario Carlos" class="form-control" formControlName="nombres"
                type="text" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size size-md="6">
            <ion-item>
              <ion-label color="primary" position="stacked" class="ion-text-center">Apellidos</ion-label>
              <ion-input name="apellidos" placeholder="Juarez Perez" class="form-control" formControlName="apellidos"
                type="text" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col  size-md="6">
            <ion-item>
              <ion-input name="password" class="form-control" formControlName="password" type="password"
                placeholder="Contraseña" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col  size-md="6">
            <ion-item>
              <ion-input name="confirm" class="form-control" formControlName="confirm" type="password"
                placeholder="Confirma tu contraseña" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
        <ion-row color="primary" justify-content-center>
          <ion-col size size-md="12">
            <ion-button expand="block" color="tertiary" routerLink="/" routerDirection="forward">Atras</ion-button>
            <ion-button  expand="full" color="success" type="submit" [disabled]="registerForm.invalid" expand="block">
              Crear Cuenta
            </ion-button>
          </ion-col>
  
        </ion-row>
      </ion-grid>
  
  </form>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12">
        <ion-card *ngFor="let empleo of empleos" style="border-radius: 12px;" class="welcome-card">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6" size-md="6">
                  <img style="width: 50%; border-radius: 6px;" src="{{empleo.usuarioCreo.foto}}" alt="" />
                  <ion-card-subtitle>{{ empleo.usuarioCreo.nombres | uppercase }} {{ empleo.usuarioCreo.apellidos |
                    uppercase}}</ion-card-subtitle>
                  <ion-card-title>{{ empleo.descripcion | uppercase}}</ion-card-title>
                </ion-col>
                <ion-col size="6" size-md="6">

                  <b>Disponibilidad: </b> {{ empleo.disponibilidad}} <br>
                  <b>Creada: </b> {{ empleo.fechaPropuesta}} <br>
                  <b>Deseado por hora: </b> Q.{{ empleo.precioPorHora}} <br>
                  <b>Vacuna contra el Covid: </b> {{ empleo.usuarioCreo.vacunaCovid}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- Icons -->
            <ion-button (click)="ver(empleo)" color="tertiary">
              <ion-icon slot="start" name="eye"></ion-icon>
              Ver mas
            </ion-button>
            <ion-button (click)="presentModalContract(empleo)" color="success">
              Contratar
              <ion-icon slot="end" name="card"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
