<ion-fab color="danger" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="closeModal()">
    <ion-icon name="close-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <ion-card>
    <ion-fab vertical="bottom" vertical="end" horizontal="end" slot="fixed">
      <ion-fab-button size="small" color="ligth" (click)="descargarFoto()">
        <ion-icon name="cloud-download"></ion-icon>

      </ion-fab-button>
    </ion-fab>
    <ion-card-header>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <img *ngIf="usuario.foto" style="width: 100%; border-radius: 6px; margin-left: auto; margin-right: auto;"
          src="{{usuario.foto}}" />
        </ion-slide>
        <ion-slide>
       
          <img *ngIf="usuario.cv" style="width: 100%; border-radius: 6px; margin-left: auto; margin-right: auto;"
          src="{{usuario.cv}}" />
        </ion-slide>
      </ion-slides>
     
                <ion-item-divider></ion-item-divider>
      <ion-card-title>
        {{usuario.nombres | uppercase}} {{ usuario.apellidos | uppercase}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-col>
          <b>Vacuna covid: </b> {{ usuario.vacunaCovid}} <br>
          <b>Direccion: </b> {{ usuario.direccion}} <br>
          <b>Educacion: </b> {{ usuario.educacion}} <br>
          <b>Genero: </b> {{ usuario.genero}} <br>
          <b>Fecha de Nacimiento: </b>{{ usuario.fechaNacimiento }} <br>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <h1>Oficios publicados por {{ usuario.nombres | uppercase }} {{usuario.apellidos | uppercase }}</h1>
  <ion-card   *ngFor="let prop of propuestas" class="welcome-card">
    <ion-card-content >
      <ion-grid>
        <ion-card-subtitle>{{ prop.usuarioCreo.nombres | uppercase   }}</ion-card-subtitle>
        <ion-row>
          <ion-col size="12" size-md="12">
            <b>Disponibilidad: </b> {{ prop.disponibilidad}} <br>
            <b>Dias disponibles: </b> {{ prop.diasLaborables}} <br>
            <b>Lugares: </b> {{ prop.lugaresLaborables}} <br>
            <b>Quisiera Recibir por hora: </b> Q. {{ prop.precioPorHora}} <br>
            <b>Experiencia: </b>
            <p>{{ prop.descripcion}}</p>
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="prop.certificado != ''">
          <b>Certificado del Oficio</b>
          <br>
          <img style="width: 100%; border-radius: 6px; margin-left: auto; margin-right: auto;"
          src="{{prop.certificado}}" alt="" />
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>