<ion-header>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> Mensajes recientes...  </ion-list-header>
    <div color="light">
      <ion-item  style="border-radius: 12px;" *ngFor="let oferta of ofertas"  [routerLink]="['chek-offer', oferta.idOferta, oferta.propuesta.idPropuesta]">
        <ion-avatar slot="start">
          <img src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png" />
        </ion-avatar>
        <ion-label>
          <h2>{{oferta.usuario.nombres +' ' +oferta.usuario.apellidos | uppercase }}  <p style="font-size: 60%; color: gray;">{{oferta.fechaCreacion | date: 'medium' }}</p> </h2>
          <h3>Se ha fijado en ti</h3>
          <p>{{oferta.complemento}}</p>
        </ion-label>
      </ion-item>
    </div>
    </ion-list>
</ion-content>