<ion-header>
  <ion-toolbar>
    <ion-segment value="mensaje2" scrollable>
      <ion-segment-button value="mensaje2" (click)="changeJob('mensaje2')" class="segment-button segment-activated">
        Ofertas publicadas
      </ion-segment-button>
      <ion-segment-button value="mensaje1" (click)="changeJob('mensaje1')">
        Buscados
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="job">
    
    <ion-list *ngSwitchCase="'mensaje1'">
      <ion-list-header> Mensajes recientes...  </ion-list-header>
      <div color="light">
        <ion-item  style="border-radius: 12px;" *ngFor="let oferta of ofertas"  [routerLink]="['chek-offer', oferta.idOferta, oferta.propuesta.idPropuesta,2]">
          <ion-avatar slot="start">
            <img src="{{oferta.usuario.foto}}" />
          </ion-avatar>
          <ion-label>
            <h2>{{oferta.usuario.nombres +' ' +oferta.usuario.apellidos | uppercase }}  <p style="font-size: 60%; color: gray;">{{oferta.fechaCreacion | date: 'medium' }}</p> </h2>
            <b>{{oferta.propuesta.descripcion}}</b>
            <p>{{oferta.complemento}}</p>
          </ion-label>
        </ion-item>
      </div>
      </ion-list>
      <div *ngSwitchCase="'mensaje2'">
        <app-oferta-publicated>
          
        </app-oferta-publicated>
      </div>
  </div>

 
</ion-content>