<ion-header>
  <ion-toolbar color="">
    <form class="formScroll" [formGroup]=datosEmpleosForm (ngSubmit)="filtrarEmpleos(datosEmpleosForm.value)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" size-md="4">
            <ion-item>
              <ion-label color="primary" position="stacked" class="ion-text-center">Oficios</ion-label>
              <ion-select multiple="true"  name="empleos" formControlName="empleos" value="brown"
                okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let tipoEmpleo of tiposEmpleos" value="{{tipoEmpleo.idTipoEmpleo}}">{{
                  tipoEmpleo.nombreEmpleo}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4" size-md="4">
            <ion-item>
              <ion-label color="primary" position="stacked" class="ion-text-center">Disponibilidad</ion-label>
              <ion-select  name="disponibilidad" formControlName="disponibilidad"
                value="brown" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option value="">Cualquiera</ion-select-option>
                <ion-select-option value="Inmediata">Inmediata</ion-select-option>
                <ion-select-option value="5 Dias">En 5 Dias</ion-select-option>
                <ion-select-option value="10 Dias">En 10 Dias</ion-select-option>
                <ion-select-option value="15 Dias">En 15 Dias</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="4" size-md="4">
            <ion-item *ngFor="let deptoMuni of departamentosMunicipios">
              <ion-label color="primary"  position="stacked" class="ion-text-center" >Lugares</ion-label>
              <ion-select   name="lugares"
                formControlName="lugares" value="brown" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let municipio of deptoMuni.Municipios" value="{{municipio.IdMunicipio}}">{{municipio.NombreMunicipio}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="6" size-md="6">
            <ion-button type="submit"  size="small">Filtrar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
      </ion-grid>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12">
        <ion-card *ngFor="let empleo of empleos" style="border-radius: 12px;" class="welcome-card">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6" size-md="6">
                  <img style="width: 50%; border-radius: 6px;" src="{{empleo.usuarioCreo.foto}}" alt="" />
                  <ion-card-subtitle>{{ empleo.usuarioCreo.nombres | uppercase }} {{ empleo.usuarioCreo.apellidos |
                    uppercase}}</ion-card-subtitle>
                  <ion-card-title>{{ empleo.descripcion | uppercase}}</ion-card-title>
                </ion-col>
                <ion-col size="6" size-md="6">

                  <b>Disponibilidad: </b> {{ empleo.disponibilidad}} <br>
                  <b>Creada: </b> {{ empleo.fechaPropuesta}} <br>
                  <b>Deseado por hora: </b> Q.{{ empleo.precioPorHora}} <br>
                  <b>Vacuna contra el Covid: </b> {{ empleo.usuarioCreo.vacunaCovid}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- Icons -->
            <ion-button (click)="ver(empleo)" color="tertiary">
              <ion-icon slot="start" name="eye"></ion-icon>
              Ver mas
            </ion-button>
            <ion-button (click)="presentModalContract(empleo)" color="success">
              Contratar
              <ion-icon slot="end" name="card"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>