<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button expand="block" (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let empleo of empleos" size="12" size-md="12">
        <ion-card style="border-radius: 12px;" class="welcome-card">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="6" size-md="6">
                  <img style="width: 60%; border-radius: 6px;" src="{{empleo.usuarioCreo.foto}}" alt="" />
                  <ion-card-subtitle>{{ empleo.usuarioCreo.nombres | uppercase }} {{ empleo.usuarioCreo.apellidos |
                    uppercase}}</ion-card-subtitle>
                  <ion-card-title>{{ empleo.descripcion | uppercase}}</ion-card-title>
                </ion-col>
                <ion-col size="6" size-md="6">
                
                  <b>Disponibilidad: </b> {{ empleo.disponibilidad}} <br>
                  <b>Creada: </b> {{ empleo.fechaPropuesta}} <br>
                  <b>Deseado por hora: </b> Q.{{ empleo.precioPorHora}} <br>
                  <b>Vacuna contra el Covid: </b> {{ empleo.usuarioCreo.vacunaCovid}}
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- Icons -->
            <ion-button (click)="ver(empleo)" color="tertiary">
              <ion-icon slot="start" name="eye"></ion-icon>
              Ver mas
            </ion-button>
            <ion-button (click)="presentModalContract(empleo)" color="success">
              Contratar
              <ion-icon slot="end" name="card"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>