<ion-list >
  <ion-item *ngFor="let empleo of empleos">
    <ion-label><b>{{ empleo.descripcion | uppercase}}</b></ion-label>
    <ion-fab-button (click)="deletePropuesta(empleo.idPropuesta)" size="small" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
    <div *ngIf="empleo.estado == 1; ">
      <ion-toggle checked  (click)="cambiarEstadoPropuesta(empleo.idPropuesta,2)" slot="end"></ion-toggle>
    </div>
    <div *ngIf="empleo.estado == 2; ">
      <ion-toggle unchecked  (click)="cambiarEstadoPropuesta(empleo.idPropuesta,1)" slot="end"></ion-toggle>
    </div>
  </ion-item>
</ion-list>