<ion-content>
  <!-- fab placed to the bottom end -->
  <ion-fab color="danger" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger"  (click)="closeModal()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card class="welcome-card">
    <ion-card-content *ngFor="let prop of propuesta">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="12">
            <img style="width: 100px; border-radius: 12px; margin-left: auto; margin-right: auto;" src="{{empleo.usuarioCreo.foto}}" alt="" />
            <ion-card-subtitle>{{ empleo.usuarioCreo.nombres | uppercase }} {{ empleo.usuarioCreo.apellidos |
              uppercase}}</ion-card-subtitle>
            <ion-card-title>{{ empleo.descripcion | uppercase}}</ion-card-title>
          </ion-col>
        </ion-row>
        <br>

        <ion-card-title>Mas Informacion</ion-card-title>
        <ion-row >
          <ion-col size="12" size-md="12">
            <b>Disponibilidad: </b> {{ prop.disponibilidad}} <br>
            <b>Dias disponibles: </b> {{ prop.diasLaborables}} <br>
            <b>Lugares: </b> {{ prop.lugaresLaborables}} <br>
            <b>Quisiera Recibir por hora: </b> Q. {{ prop.precioPorHora}} <br>
            <b>Experiencia: </b>
            <p>{{ prop.descripcion}}</p>
          </ion-col>
        </ion-row>

        
        <ion-card-title>Datos personales de {{ empleo.usuarioCreo.nombres + ' ' + empleo.usuarioCreo.apellidos}}</ion-card-title>
        <ion-row>
          <ion-col size="6" size-md="6">
            <b>Direccion: </b> {{ usuario.direccion}} <br>
            <b>Educacion: </b> {{ usuario.educacion}} <br>
            
          
          </ion-col>
          <ion-col size="6" size-md="6">
            <b>Genero: </b> {{ usuario.genero}} <br>
            <b>Fecha de Nacimiento: </b> {{ usuario.fechaNacimiento}} <br>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item-divider></ion-item-divider>
        <h1>Documentos</h1>
        <ion-toolbar>
          <ion-buttons slot="secondary">
            <ion-button (click)="nextSlide()" expand="block">
              <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="start">
            <ion-button (click)="previusSlide()" expand="block">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
     
      <ion-slides  #mySlider>
        <ion-slide *ngIf="prop.certificado != '0'">
          <ion-card>
            <ion-card-title>Certificado de trabajo</ion-card-title>
            <ion-card-content>
              <img style="width: 100%; border-radius: 12px; margin-left: auto; margin-right: auto;"  src="{{ prop.certificado}}">
            </ion-card-content>
          </ion-card>
        </ion-slide>
   
        <ion-slide *ngIf="usuario.cv != '0'">
          <ion-card>
            <ion-card-title>CV</ion-card-title>
            <ion-card-content>
              <img style="width: 100%; border-radius: 12px; margin-left: auto; margin-right: auto;"  src="{{ usuario.cv}}">
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>
    </ion-card-content>
  </ion-card>
</ion-content>