<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Crea tu usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form style="margin-top: 25%;" [formGroup]=registerForm (ngSubmit)="registrarUser(registerForm.value)">
    <ion-slides #mySlider>
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="12">
              <ion-list>
                <ion-radio-group value="empleado">
                    <ion-label>Tipo de Cuenta</ion-label>
                  <ion-col size="6" size-md="6">
                    <ion-item>
                      <ion-label>Buscar Empleo</ion-label>
                      <ion-radio name="rol" formControlName="rol" slot="start" value="empleado"></ion-radio>
                    </ion-item>
                  </ion-col>

                  <ion-col size="6" size-md="6">
                    <ion-item>
                      <ion-label>Buscar personas (Jardineros, Payasos, etc)</ion-label>
                      <ion-radio  name="rol" formControlName="rol" slot="start" value="empleador"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-radio-group>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-button color="tertiary" (click)="siguiente(1,registerForm.value )">Siguiente <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-label>Datos Generales</ion-label>
          <ion-row color="primary" justify-content-center>
            <ion-col size size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Nombres</ion-label>
                <ion-input name="nombres" placeholder="Mario Carlos" class="form-control" formControlName="nombres"
                  type="text" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Apellidos</ion-label>
                <ion-input name="apellidos" placeholder="Juarez Perez" class="form-control" formControlName="apellidos"
                  type="text" required></ion-input>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Fecha de Nacimiento
                </ion-label>
                <ion-input name="fechaNacimiento" formControlName="fechaNacimiento" type="date" class="form-control"
                  placeholder="Fecha de Nacimiento" required></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Genero</ion-label>
                <ion-select required name="genero" class="form-control" formControlName="genero" value="default"
                  okText="Aceptar" cancelText="Cancelar">
                  <ion-select-option value="default">--Elija uno--</ion-select-option>
                  <ion-select-option value="M">M</ion-select-option>
                  <ion-select-option value="F">F</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <br>
          <ion-button color="tertiary" (click)="siguiente()">Siguiente <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-label>Datos Generales</ion-label>
          <ion-row>
            <ion-col size="6" size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Email</ion-label>
                <ion-input name="email" formControlName="email" type="mail"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="ejemplo@chance.com" required>
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Direccion</ion-label>
                <ion-input name="direccion" placeholder="4ta. Ave. 13-15 zona 21" formControlName="direccion"
                  type="text" class="form-control" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Educacion</ion-label>
                <ion-select required name="educacion" class="form-control" formControlName="educacion" value="default"
                  okText="Aceptar" cancelText="Cancelar">
                  <ion-select-option selected value="default" disable>--Elija una--</ion-select-option>
                  <ion-select-option value="Primaria">Primaria</ion-select-option>
                  <ion-select-option value="Basica">Basica</ion-select-option>
                  <ion-select-option value="Diversificado">Diversificado</ion-select-option>
                  <ion-select-option value="Universitaria">Universitaria</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6" size-md="6">
              <ion-item>
                <ion-label color="primary" position="stacked" class="ion-text-center">Vacuna contra covid
                </ion-label>
                <ion-select required name="vacunaCovid" class="form-control" formControlName="vacunaCovid"
                  value="default" okText="Aceptar" cancelText="Cancelar">
                  <ion-select-option value="default">--Seleccione--</ion-select-option>
                  <ion-select-option value="Sin vacuna">Sin vacuna</ion-select-option>
                  <ion-select-option value="Primera Dosis">Primera Dosis</ion-select-option>
                  <ion-select-option value="Segunda Dosis">Segunda Dosis</ion-select-option>
                  <ion-select-option value="Tercera Dosis">Tercera Dosis</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <br>
          <ion-button color="tertiary" (click)="siguiente()">Siguiente <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-grid>
      </ion-slide>


      <ion-slide>
        <ion-grid>
          <h3>Documentos (NO OBLIGATORIOS)</h3>
          <p>Estos documentos no son obligatorios, pero si los subes te daran una mejor posibilidad de encontrar
            chance
          </p>
          <ion-row>
            <ion-col size size-md="12">
              <ion-item>
                <ion-button expand="full" (click)="foto.click()">
                  <ion-icon lazy="true" slot="start" name="attach"></ion-icon>
                  <ion-label slot="end">Fotografia...</ion-label>
                </ion-button>
                <input (change)="fileChange($event)" class="ion-hide" #foto type="file" accept="image/png, image/jpeg">
              </ion-item>
            </ion-col>
            <ion-col size-md="12">
              <img id="fotoImagen" style="display: block; margin: auto;" width="30%" *ngIf="img1" [src]="img1" />
              <br>
              <input hidden name="foto" class="form-control" formControlName="foto" *ngIf="img1" value="{{img1}}" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="12">
              <ion-item>
                <ion-button expand="full" (click)="ccv.click()">
                  <ion-icon lazy="true" slot="start" name="attach"></ion-icon>
                  <ion-label slot="end">Antecedentes Penales...</ion-label>
                </ion-button>
                <input (change)="fileChangeCv($event)" class="ion-hide" #ccv type="file" accept="image/png, image/jpeg">
              </ion-item>
            </ion-col>
            <ion-col size-md="12">
              <img id="cvImagen" style="display: block; margin: auto;" width="30%" *ngIf="cv" [src]="cv" />
              <br>
              <input hidden name="cv" class="form-control" formControlName="cv" *ngIf="cv" value="{{cv}}" />
            </ion-col>
          </ion-row>
          <br>
          <ion-button color="tertiary" (click)="siguiente()">Finalizar <ion-icon name="arrow-forward">
            </ion-icon>
          </ion-button>
        </ion-grid>

      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-label>
            Contraseña
          </ion-label>
          <ion-row color="primary" justify-content-center>
            <ion-col size="12" size-md="12">
              <ion-item>
                <ion-input name="password" class="form-control" formControlName="password" type="password"
                  placeholder="Contraseña" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="12">
              <ion-item>
                <ion-input name="confirm" class="form-control" formControlName="confirm" type="password"
                  placeholder="Confirma tu contraseña" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <br>
          <ion-row color="primary" justify-content-center>
            <ion-col size size-md="12">

              <ion-button  expand="full" color="success" type="submit" [disabled]="registerForm.invalid" expand="block">
                Crear Usuario
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>