<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ofertas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Ofertas Recientes
        </ion-list-header>
        <ion-item   >
          <ion-avatar slot="start">
            <img src="https://w7.pngwing.com/pngs/956/783/png-transparent-computer-icons-female-youtube-woman-avatar-business-woman-face-black-hair-head.png">
          </ion-avatar>
          <ion-label>
            <h2>Mario Castanieda</h2>
            <h3>Quiere tu servicio como niniera</h3>
            <p>Hola Margot me gusto tu servicio de niniera podrias porfavor decirme que dias puedes</p>
            <ion-button [routerLink]="['chek-offer', 'idOferta']">Revisar <ion-icon
              name="eye"></ion-icon>
            </ion-button>
          </ion-label>
          
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
 
</ion-content>